.projects_container

	project-badge(
		title="REST vs SOAP"
		badge_image="/images/bg.jpg"
		repo="https://github/dejanfajfar"
		home="projects.fajfar.com/rest_vs_soap"
	)
		p This is a little description that should be used

	project-badge(
		title="Responsive web"
		badge_image="/images/presentation.png"
		repo="https://github/dejanfajfar"
		home="projects.fajfar.com/rest_vs_soap"
	)
		h1 How to make the web responsive?
		p Lets take a look at this little blog post