.projects_container

	project-badge(
		title="REST vs SOAP"
		badge_image="/images/rest.png"
		repo="https://github.com/dejanfajfar/rest.presentation"
		home="http://slides.fajfar.com/rest/"
	)
		p This is a little description that should be used

	project-badge(
		title="projects.fajar.com"
		badge_image="/images/presentation.png"
		repo="https://github.com/dejanfajfar/projects.fajfar.com"
		home="projects.fajfar.com"
	)
		h1 How to make the web responsive?
		p Lets take a look at this little blog post

	project-badge(
		title="ecma6 101"
		badge_image="/images/ecma6.png"
		repo="https://github.com/dejanfajfar/ecma6.presentation"
		home="http://slides.fajfar.com/ecma6/"
	)
		h1 ecma6 introduction
		p A short introduction into the world of ecma6

	project-badge(
		title="MongoDB setup"
		badge_image="/images/mongosetup.png"
		repo="https://github.com/dejanfajfar/mongosetup.node"
		home="https://www.npmjs.com/package/mongosetup"
	)
		h1 Setup your monogDB like a champ
		p Some people prefer to let their software update their mongodb schema on demand while running.
		p I personally dislike this method because it causes unnecessary complexity in the code.